<ju-v3-pannel>
    <div class="ju_tag_heading title">
        <span class='right'>v3.0</span>
        <h2>T.A.G.S</h2>
        <em>{{motr}}</em>
    </div>

    <div fxLayout="row">
        <app-ju-v3-tab uiSref=".list" uiSrefActive="active">Listes des T.A.G.S</app-ju-v3-tab>
        <app-ju-v3-tab uiSref=".owner" uiSrefActive="active">Mes T.A.G.S</app-ju-v3-tab>
        <app-ju-v3-tab uiSref=".search" uiSrefActive="active">Recherche</app-ju-v3-tab>
    </div>
    <ju-v3-sub-pannel>
        <ui-view fxFlex="100"></ui-view>
    </ju-v3-sub-pannel>

</ju-v3-pannel>