<app-ju-v3-pannel>
    <ju-v3-pannel-title class="ju_tag_heading">
        <span class='right'>v3.0</span>
        <h2>T.A.G.S</h2>
        <em>{{motr}}</em>
    </ju-v3-pannel-title>

    <app-ju-v3-tab uiSref=".list" uiSrefActive="active">Listes des T.A.G.S</app-ju-v3-tab>
    <app-ju-v3-tab uiSref=".owner" uiSrefActive="active">Mes T.A.G.S</app-ju-v3-tab>
    <app-ju-v3-tab uiSref=".search" uiSrefActive="active">Recherche</app-ju-v3-tab>

    <app-ju-v3-sub-pannel>
        <ui-view fxFlex="100"></ui-view>
    </app-ju-v3-sub-pannel>

</app-ju-v3-pannel>