<body style="background:#0F181F;padding-bottom:30px;padding-top:10px;">
  <a href="https://starcitizen.fr/Flotte/"><img src="https://starcitizen.fr/Forum/styles/scfr/theme/images/flotte/juliet.png"></a>
  <div id='ju_aNotif' style="    background: #1b2227;
    padding: 20px;
    margin: 20px;
    position: relative;
    border: 1px solid rgba(70,114,158,0.31);
    border-radius: 10px;"><h2 style="    font-family: 'Electrolize';
    text-transform: uppercase;
    color: #49CBFF;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.41);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.07);">Service de notification J.U.L.I.E.T</h2><div class='message' style="padding: 20px;
    text-align: justify;
    font-family: 'Electrolize';
    color:white;
    font-size: 16px;
    background: rgba(255,255,255,0.03);
    margin: 20px;">%MESSAGE%</div><a href='https://starcitizen.fr/Flotte/?page=Notifs' style="
    font-size: 15px;
    color: #00ABFF;">Cliquez ici pour accèder à la gestion de vos notifications juliet</a></div>
</body>
