:host() {
    font-family: "Electrolize";
    color: #FFFFFF !important;
    background-color: #1c1f21 !important;
    background-image: none;
    border: 1px solid #323437 !important;
    box-shadow: 0px 0px 10px #000 !important;
    min-height: 80px;
    display:flex;
}