.ship-add {
   /**background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    box-shadow: 0 0 3px black; */
}

.ships-holder {
    height: 297px;
    overflow: auto;
    overflow-x: hidden;
    margin-right: 5px;
}