<app-ju-v3-pannel fxLayoutMargin>
  <ju-v3-pannel-title class="ju_tag_heading" fxFlex="100">
    <span class='right'>v3.0</span>
    <h2>T.A.G.S</h2>
  </ju-v3-pannel-title>

  <button uiSref="secure.Tags.index.list" style="margin: 5px;margin-top: 20px;" md-mini-fab mdTooltip="Retour à la liste des T.A.G.S" tooltip-position="below" >
<md-icon>arrow_back</md-icon>
</button>

<div fxLayout="row" fxLayoutWrap>
  <div fxFlex="70">
    <app-ju-v3-sub-pannel *ngIf="tag" layoutMargin fxLayoutWrap>
      <md-toolbar fxFlex="100">T.A.G {{tagBackup.name}}</md-toolbar>
      <div layoutPadding>
        <ju-v3-heading layoutPadding fxLayout fxLayoutWrap>
          <md-input-container>
            <input md-input [(ngModel)]="tag.name" (ngModelChange)="nameChanged($event)">
          </md-input-container>
          <button md-button *ngIf="shouldTransf" mdTooltip="{{shouldTransf.name}} existe déjà, clickez ici pour tout transferer." tooltip-position="below"
            (click)="doMigrate()"> Transferer {{tagBackup.name}} vers {{shouldTransf.name}} </button>
        </ju-v3-heading>

        <div layoutMargin fxFlex="100">
          <div *ngFor="let user of tag.count | paginate: { itemsPerPage: 20,  currentPage: page, totalItems: total }">{{user.name}}</div>
        </div>

        <pagination-controls (pageChange)="page = $event" autoHide="true"></pagination-controls>
        <button md-button (click)="assignTagToSelf()" color="accent">Prendre ce TAG</button>
      </div>
    </app-ju-v3-sub-pannel>
  </div>
  <div fxFlex="30">
    <app-ju-v3-sub-pannel *ngIf="tag" layoutMargin fxLayout fxLayoutWrap>
      <md-toolbar fxFlex="100">Informations supplémentaires</md-toolbar>
      <div layoutPadding fxLayout="row" fxFlex="100" fxLayoutWrap>
        <div fxFlex="100" fxLayout fxLayoutWrap fxLayoutGap="10px">
          <ng2-completer fxFlex="50" fxFlex.sm="100" placeholder="Parent" [(ngModel)]="tagInfo.parentSelect" [dataService]="tagsList0"
            [minSearchLength]="0" (selected)="setParent($event)"></ng2-completer>
          <ng2-completer fxFlex placeholder="Droits depuis" [(ngModel)]="tagInfo.rightsFromSelect" [dataService]="tagsList1" [minSearchLength]="0"
            (selected)="setRights($event)"></ng2-completer>
        </div>

        <md-checkbox [(ngModel)]="tag.restricted" fxFlex="100" style="margin-top: 20px;" > T.A.G Restreint
</md-checkbox>

<md-select style="margin-top: 35px;" fxFlex='100' placeholder="Type de T.A.G" [(ngModel)]="tag.type">
<md-option *ngFor="let type of tagTypes | enumKeys" [value]="type.key" [disabled]="type.key < 0"> {{ type.value }} </md-option>
</md-select>
</div>
</app-ju-v3-sub-pannel>
</div>

<div fxFlex="100"></div>

<div fxFlex="100"></div>
<button layoutMargin md-raised-button (click)="updateTag()"><md-icon>done</md-icon> Mettre à jour le tag</button>
<button layoutMargin md-button color="warn" mdTooltip="Supprimer définitivement ce tag" tooltip-position="below" (click)="deleteTag()"><md-icon>delete_forever</md-icon> Supprimer le tag</button>


</div>
</app-ju-v3-pannel>