<ju-v3-pannel fxLayoutMargin>
  <div class="ju_tag_heading title" fxFlex="100">
    <span class='right'>v3.0</span>
    <h2>T.A.G.S</h2>
  </div>

  <button uiSref="secure.Tags.index.list" style="margin: 5px;margin-top: 20px;" mdTooltip="Retour à la liste des T.A.G.S" md-mini-fab>
<md-icon>arrow_back</md-icon>
</button>

  <ju-v3-blue-pannel *ngIf="tag && tag.cat != 'tag'" id="top-info" LayoutMargin>
    <div style="z-index:1; position: relative;">
      <h3>T.A.G {{displayTagType()}}</h3>
      <md-icon color="primary" style="float: left; margin: 10px;">info</md-icon>
      <p>Ce tag est un tag généré automatiquement. Cette page décrit tous les joueurs affectés par ce dernier.<br /> Vous ne
        pouvez donc ni ajouter, ni modifier, ni supprimer ce T.A.G sans directement modifier la ressource qu'il concerne.</p>
    </div>
    <img src="{{tag.img}}" class="big-abs">
  </ju-v3-blue-pannel>

  <div fxLayout="row" fxLayoutWrap>
    <div fxFlex="70" fxFlex.xs="100">
      <ju-v3-sub-pannel *ngIf="tag" layoutMargin fxLayoutWrap>
        <ju-v3-heading layoutPadding fxLayout style="margin:0px">
          <md-input-container fxFlex>
            <input mdInput [(ngModel)]="tag.name" (ngModelChange)="nameChanged($event)" placeholder="T.A.G {{displayTagType()}}" [disabled]="!isEditable() || isBusy()">
          </md-input-container>
          <button md-button disabled>x/{{tag.targets?.length}} correspondances</button>
          <button md-button *ngIf="shouldTransf" mdTooltip="{{shouldTransf.name}} existe déjà, clickez ici pour tout transférer." tooltip-position="below"
            (click)="doMigrate()"> Transferer {{tagBackup.name}} vers {{shouldTransf.name}} </button>
        </ju-v3-heading>

        <ju-tag-owner-list fxFlex="100" [tag]="tag"></ju-tag-owner-list>
        <hr />
        <button md-button (click)="assignTagToSelf()" color="accent">Prendre ce TAG</button>

        <md-input-container LayoutMargin>
          <input mdInput placeholder="Ajouter le tag à un joueur" [mdAutocomplete]="auto" [formControl]="userCtrl" [disabled]="busy"  [(ngModel)]="userAdd" >
        </md-input-container>

        <md-autocomplete #auto="mdAutocomplete">
          <md-option *ngFor="let user of fetchedUsers | async" [value]="user.user_id" (onSelectionChange)="addUser(user)">
            {{ user?.username }}
          </md-option>
        </md-autocomplete>

      </ju-v3-sub-pannel>
    </div>
    <div fxFlex="30" fxFlex.xs="100">
      <ju-v3-sub-pannel *ngIf="tag" layoutMargin fxLayout fxLayoutWrap>
        <md-toolbar fxFlex="100"><span>Informations supplémentaires</span></md-toolbar>
        <div layoutPadding fxLayout="row" fxFlex="100" fxLayoutWrap *ngIf="isEditable()">
          <div fxFlex="100" fxLayout fxLayoutWrap fxLayoutGap="10px">
            <ng2-completer [disabled]="isBusy()" fxFlex="50" fxFlex.sm="100" placeholder="Parent" [(ngModel)]="tagInfo.parentSelect"
              [dataService]="tagsList0" [minSearchLength]="0" (selected)="setParent($event)"></ng2-completer>
            <ng2-completer fxFlex [disabled]="isBusy()" placeholder="Droits depuis" [(ngModel)]="tagInfo.rightsFromSelect" [dataService]="tagsList1"
              [minSearchLength]="0" (selected)="setRights($event)"></ng2-completer>
          </div>

          <md-checkbox name="restricted" [(ngModel)]="tag.restricted" fxFlex="100" style="margin-top: 20px;" [disabled]="isBusy()"
            ngDefaultControl> T.A.G Restreint </md-checkbox>
          <md-select style="margin-top: 35px;" fxFlex='100' placeholder="Type de T.A.G" [(ngModel)]="tag.type" ngDefaultControl>
            <md-option *ngFor="let type of tagTypes | enumKeys" [value]="type.key" [disabled]="type.key < 0 || isBusy()"> {{ type.value }} </md-option>
          </md-select>
        </div>
      </ju-v3-sub-pannel>
    </div>

    <div fxFlex="100"></div>

    <div fxFlex="100"></div>
    <button layoutMargin md-raised-button (click)="updateTag()" color="primary" *ngIf="isEditable() && hasTagChanged()" [disabled]="isBusy()"><md-icon>done</md-icon> Mettre à jour le tag</button>
    <button layoutMargin md-button color="warn" mdTooltip="Supprimer définitivement ce tag" tooltip-position="below" (click)="deleteTag()"
      [disabled]="isBusy()" *ngIf="isEditable()">
    <md-icon>delete_forever</md-icon> Supprimer le tag</button>

  </div>
</ju-v3-pannel>