<!-- NOM  -->
<ngx-datatable-column name="name">
  <ng-template let-column="column" ngx-datatable-header-template>
    Nom
  </ng-template>
  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
    {{caca}}
    <strong *ngIf="row.type == 'user'">{{value}}</strong>
    <strong *ngIf="row.type == 'ship'">{{value != '' ? value : "SIBV-"+row.id}}</strong>
    <strong *ngIf="row.type == 'ship_model'">{{value}}</strong>
  </ng-template>
</ngx-datatable-column>

<!-- TYPE  -->
<ngx-datatable-column name="type">
  <ng-template let-column="column" ngx-datatable-header-template>
    <span mdTooltip="Type de cible">Type</span>
  </ng-template>
  <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
    {{prettyTargetTypes[value]}}
  </ng-template>
</ngx-datatable-column>