<div class='ju_ShipsMain ju_tag_list'>
  <div class="ju_tag_heading">
          <span class="right_cor">#SIB-{{try}}</span>

            <div class='text'>
              <span class='shipName Big'>
                <span class="prefix">{{shipInstance.prefix}}</span> <input type="text" class="hidden-input" ng-model="shipInstance.name"></span>
            </div>
      </div>

      <div class="ShipContent" ng-if="shipInstance">

        <table class="shipSpecs">
          <tr>
            <td>Propriétaire : </td> <td><a href="https://starcitizen.fr/Flotte/?page=user&id={{shipInstance.owner}}">{{playerLink}}</a></td>
          </tr>
          <tr>
            <td>Type : </td><td><a href="https://starcitizen.fr/Flotte/?page=Tags#/view/ship/{{shipType.name}}">{{shipType.name}}</a></td>
          </tr>
        </table>

        <p>
          <strong>Coming Soon</strong><br />
          Vous pourrez bientôt affecter votre appareil à un groupe.</p>

      <img src='{{shipType.ico}}' class="big_ship">

    </div>

    <div ng-if="wait"><img src='images/ajax-loader.gif'> Accès au serveur en cours ... </div>


</div>
