<div class='ju_ShipsMain ju_tag_list'>

  <div class="ju_tag_heading">
          <span class="right_cor">#SIB-{{try}}</span>

            <div class='text'>
              <span class='shipName Big'>HANGAR V1.0</span>
            </div>
      </div>
              <div class="help" style="position:relative;width:100%;overflow:hidden;height:1px;display:block;"></div>
              <div class="help" style="position:relative;width:100%;overflow:hidden;height:40px;display:block;">
                <input type="range" min="1" max="30" ng-model="zoom">
              </div>
              <div class="help" style="position:relative;width:100%;overflow:hidden;height:1px;display:block;"></div>



      <div id='ShipHangar' class='ShipsContainer' ng-controller="controller.ships.hangar.single" fullscreen="isFullscreen">

  			<div class='fullscreen' ng-click="goFullscreen()" ng-show="!wait"></div>
        <div class='Zoom'>
          <div class="help" ng-repeat="ship in data.owned | orderBy: [+orderShip, 'type_id']">
            {{type}}
            <div class="HangarShipTitle" ng-if="needSep(ship)">
              <span>{{data.details[ship.type_id].name}}</span></div>
            <a href="{{url}}?page=Ships#/view/{{ship.owner}}/{{ship.id}}">
              <div class='ViewAllShipHangar shiptype-{{ship.type_id}}' ng-class="needSep(ship)" style='margin-right:{{data.details[ship.type_id].margins}}px'>
                <div class='inShip'>
                  <div class='abs' ng-if="data.details[ship.type_id].hasEnoughPlace"><span class='ShipName'>{{displayName(ship)}}</span><br />
                    <em>#S.I.B.{{ship.id}}</em>
                  </div>
                <img class='shipImg' src="{{data.details[ship.type_id].ico}}" style='width:{{data.details[ship.type_id].renderSize}}px'>
                </div>
              </div>
            </a>
          </div>




          <div style="clear:both"></div>
          </div>
        </div>

        <div ng-if="wait"><img src='images/ajax-loader.gif'> Accès au serveur en cours ... </div>

</div>
