<div class='error-wrap' fxFlex="100" fxLayout="row" fxLayoutWrap>
  <md-toolbar color="warn" fxFlex="100">
    <h3>Accès non-autorisé</h3>
  </md-toolbar>
  <div fxLayout="column" fxFlex>
    <p layoutMargin layoutPadding>
      Vous n'avez pas les autorisations nécéssaires pour accéder à cette page. Si vous pensez qu'il s'agit d'une erreur, merci
      de contacter un administrateur.
    </p>

    <p  layoutMargin layoutPadding *ngIf="requiredRight">
      <button md-button disabled>Droit requis: </button> <button md-button disabled>{{requiredRight}}</button>
    </p>
    
    <em layoutMargin layoutPadding>Cet incident a été loggé.</em>

    <button md-button (click)="getBack()"><md-icon>arrow_back</md-icon> {{ canGetBack() ? 'Retourner à la page précédente' : 'Retourner à l\'accueil' }}</button>
  </div>
</div>