.container {
    display: flex;
    width:100vw;
    font-family:"Electrolize";
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    h1 {
        font-family: "Electrolize";
        font-size: 8vw;
        letter-spacing: 2vw;
        margin-bottom: 0px;
        text-align: center;
    }
    h2 {
        color: grey;
        font-family: "Electrolize";
        font-size: 2vw;
        letter-spacing: 0.3vw;
        margin-top: 0px;
        position:relative;
        text-align: center;
        &:after {
            content: "V3!";
            padding: 2px 6px;
            vertical-align: sub;
            color: red;
            font-size: 1vw;
            position: absolute;
            right: -1vw;
            bottom: -0.5vw;
            transform: rotateZ(-45deg);
            letter-spacing: normal;
        }
    }
    md-progress-bar {
        width:80vw;
    }
}