.mat-table {
    background:transparent;
    .mat-header-row {
        background: rgba(0, 0, 0, 0.12);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        .mat-header-cell {
        }
    }
}