<ju-v3-pannel>
  <div class="ju_tag_heading title" LayoutMargin>
    <span class='right'>v3.0</span>
    <h2>Hangar</h2>
    <em>Gestion de flotte universelle</em>
  </div>
  <ju-v3-heading layoutPadding layoutMargin fxLayout *ngIf="currentUser && _user">
    <button md-button disabled>Hangar de </button>
    <button md-button uiSref="secure.user" [uiParams]="{user_id: (_userId > 0 && _userId != currentUser.id_forum) ? _userId : null}">
    <md-icon>account_circle</md-icon> {{_user.pseudo}}
    </button>

    <button *ngIf="_userId != currentUser.id_forum && _userId > 0" md-button color="primary" uiSref="secure.Hangar" style="margin-left: auto;">Voir mon Hangar</button>
  </ju-v3-heading>

  <div fxLayout fxLayoutWrap LayoutMargin>
    <div fxFlex.gt-sm="35" fxFlex.lt-sm="100" LayoutPadding>
      <ju-my-ships [hangar]="hangar" *ngIf="hangar" (activeShip)="setActiveShip($event)"></ju-my-ships>
    </div>
    <div fxFlex="100" LayoutPadding style="position: relative; z-index: 2;">
      <ju-ship-single [ship]="activeShip" fxFlex></ju-ship-single>
    </div>
  </div>
</ju-v3-pannel>