/* You can add global styles to this file, and also import other style files */
@import 'assets/material/theme';
@import 'assets/main';

[layoutPadding] {
    padding: 5px 20px;
} 

[layoutMargin] {
    margin: 14px !important;
}

.md-menu-content {
    & > div {
        overflow: hidden;
    }
    & > .separator {
        border-top: 1px solid rgba(197, 197, 197, 0.23);
        margin-top: 5px;
        height: 5px;
    }
}
.completer-input {
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #404144;
    color: white;
}

a {
    color: #9a9a9a;
    text-decoration: none;
    &[aButton] {
        display: inline-block;
        border-radius:5px;
        &:hover {
            background-color: rgba(144, 144, 144, 0.1);
        }
    }
}
.md-sidenav-content {
    padding-top: 0px;
}
body {
    background: #1a1c22;
    font-family: "Electrolize";
    overflow: hidden;
}

md-sidenav {
    width:100%;
}

[hidden] {
   display: none !important;
   visibility: hidden !important;
}

input {
    font-family: "Electrolize";
}

h3 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    font-weight: 100;
    text-shadow: 0px 0px 6px white;
}

.ju_tag_heading {
        color: #d5d5d5;
        background-color: rgba(29,36,40,0.62);
        border-radius: 3px;
        border: 1px solid rgba(115,115,115,0.25);
        box-shadow: 0px 0px 10px rgba(0,0,0,0.46);
        padding: 15px;
        display:block;
        height: 65px;

        h2 {
            font-size: 2rem;
            font-weight: bolder;
            text-transform: uppercase;
            margin: 0px;
            &:before {
                content: '/ /';
                display: inline-block;
                margin-right: 15px;
                font-weight: 900;
                font-family: fantasy;
                margin-top: 0px;
                line-height: 1rem;
                font-size: 1.9rem;
                color: #40c4ff;
            }
        }

        em {
            font-style: normal;
            letter-spacing: .3rem;
            font-weight: 100;
            margin-left: 45px;
        }

        .left {
            float:left;
        }
        .right {
            float:right;
        }
    }