/* You can add global styles to this file, and also import other style files */
@import 'assets/material/theme';
@import 'assets/main';

[layoutPadding] {
    padding: 5px 20px;
} 

[layoutMargin] {
    margin: 14px !important;
}

.md-menu-content {
    & > div {
        overflow: hidden;
    }
    & > .separator {
        border-top: 1px solid rgba(197, 197, 197, 0.23);
        margin-top: 5px;
        height: 5px;
    }
}
.completer-input {
    width: 100%;
    padding: 5px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #404144;
    color: white;
}

a {
    color: #9a9a9a;
    text-decoration: none;
    &[aButton] {
        display: inline-block;
        border-radius:5px;
        &:hover {
            background-color: rgba(144, 144, 144, 0.1);
        }
    }
}
.md-sidenav-content {
    padding-top: 0px;
}
body {
    background: #1a1c22;
}

md-sidenav {
    width:100%;
}