<ju-v3-sub-pannel fxLayout="column" fxLayoutWrap>
  <ju-v3-heading fxFlex="100" layoutPadding layoutMargin>
    <h3>Vue détaillée</h3>
  </ju-v3-heading>

  <div *ngIf="hangarAPI.currentSingleShipType | async as type" layoutMargin layoutPadding>
    <div *ngIf="hangarAPI.currentSingleShip.ship as ship">

      <div class="ship-title" fxLayout="column" fxFlex>
        <input type="text" [(ngModel)]="hangarAPI.currentSingleShip.ship.name" class="ship-name">
        <em>SIBV-{{ship.id}} <span class="ship-type">{{type.name}}</span></em>
        <div fxLayout="row">
          <button md-button uiSref="secure.user" [uiParams]="{user_id: 9}">
          <md-icon>account_circle</md-icon> Super d
        </button>
        </div>
      </div>

      <ju-tags-list #tagList
      [tags]="tags" 
      (take)="assignTag($event)" 
      (unTake)="unAssignTag($event)" 
      [mainList]="false" 
      [userHas]="true" 
      [editable]="currentUserCan">
      </ju-tags-list>
      
      <div style="clear:both;"></div>

      <div class='suggested' fxLayout fxLayoutWrap fxFlex="100" *ngIf="tagsAPI.tags && tags && currentUserCan" [hidden]="!tagList.filter.name || filteredTags.count == 0">
        <hr />
        <h3 fxFlex="100">Suggestions</h3>
        <div #tagList2 fxFlex="20" fxFlex.xs='100' *ngFor="let tag of tagsAPI.tags | ExcludeTags: tags | Filter: tagList.filter | Count: filteredTags | paginate: { id: 'tag-suggest', itemsPerPage: 25,  currentPage: page, totalItems: totalFiltered };">
          <a-tag [tag]="tag" (take)="takeTag($event)" [mainList]="false" [editable]="currentUserCan" [userHas]="false"></a-tag>
        </div>
        <div fxFlex="100"></div>
        <pagination-controls (pageChange)="page = $event" autoHide="true" id="tag-suggest"></pagination-controls>
      </div>

      <button md-button *ngIf="shouldAddTag() && currentUserCan" color="primary" (click)="addTag()">Ajouter le tag {{tagList.filter.name}}</button>
    </div>
  </div>
</ju-v3-sub-pannel>